.authinput {
    display: inline-block;
    border-color:rgba(0,0,0,0);
    border-radius: 5px;
    width: 100%;
    margin: 10px 0px;
    padding: 6px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    transition: ease-in;
    transition-duration: 300ms;
    font-size: 1em;
    color: white;
    
}
.authinput:hover{
    box-shadow: 2px 11px 26px 0px rgba(0,0,0,0.75);
    transform: translateY(-4px);


}
.subscrinput {
    display: inline-block;
    outline: none;
    font-size: 1.2em;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 5px;
    color: rgb(102, 102, 102);
    position: relative;
    top: 10px;
    
}