.readerCont {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-style:initial;
    text-decoration: none;
    padding: 5vh 0;
}
.story {
    width: 70%;
    height: auto;
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-weight: 450;
    font-size: 1.2em;
    font-family: sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    letter-spacing: 1.2px;
    line-height: 1.2;
    background-color: rgb(224, 243, 208);
    padding: 5vw;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    animation: anima 1s;

}
.sttile {
    font-weight: 600;
    margin-left: 40%;
}
@keyframes anima {
    from {
        width:  10%;
    }
    to {
        width: 70%; 
    }
}